.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #282c34;
  color: white;
}

.AppHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  border: 1px solid white;
  border-radius: 10%;
}

.LoadMoreButton {
  /* height: 5%; */
  width: 50%;
}

.Body {
  display: flex;
  width: 100vw;
  text-align: center;
}
