:root {
  --primary: #252836;
  --secondary: #1f2833;
  --first: #66fcf1;
  --second: #45a29e;
  --special: #c5c6c7;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #282c34;
  color: var(--first);
}

.AppHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #66fcf1;

  border: 1px solid #66fcf1;
  border-radius: 10%;
}

.LoadMoreButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, var(--first) 5%, var(--second) 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-size:17px;
	padding:9px 23px;
	text-decoration:none;
  text-shadow:0px 1px 0px #263666;
  width: 600px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}
.LoadMoreButton:hover {
	background:linear-gradient(to bottom, var(--second) 5%, var(--first) 100%);
	background-color:#0688fa;
}
.LoadMoreButton:active {
	position:relative;
	top:1px;
}

.Body {
  display: flex;
  width: auto;
  justify-content: space-evenly;
}