:root {
  --primary: #252836;
  --secondary: #1f2833;
  --first: #66fcf1;
  --second: #45a29e;
  --special: #c5c6c7;
}

.Post {
  display: flex;
  flex-direction: column;
  margin: 16px;
  /* top, right, bottom, left */
  padding: 16px;
  border: 1px solid var(--special);
  background-color: var(--primary);
  width: auto;
  text-align: center;
  border-radius: 3%;
}

.Title {
  display: grid;
  grid-template-columns: 75px 175px 175px 175px;
  grid-template-areas:
    "A B B B"
    "A C D E";
  padding: 0;
  margin: 0;
}

.TitleScore {
  grid-area: A;
  align-self: center;
  color: var(--first);
  font-size: 25px;
}

.TitleText {
  grid-area: B;
  color: var(--first);
  justify-self: center;
  font-size: 23px;
  display: inline-block;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* fill with same method to have border box as the liimiting factor */
  max-width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
}

.TitleText:hover {
  overflow-x: visible;
  white-space: normal;
}

.TitleText:onclick {
  overflow-x: visible;
  white-space: normal;
}

.TitleSubreddit {
  grid-area: C;
  color: var(--second);
}

.TitleUsername {
  grid-area: D;
  color: var(--second);
}

.TitleTime {
  grid-area: E;
  color: var(--second);
}

img {
  border-radius: 5%;
  margin: 1% auto;
}
