.Post {
  display: flex;
  flex-direction: column;
  margin: 16px;
  /* top, right, bottom, left */
  padding: 10px;
  border: 1px solid;
  background-color: #383838;
  width: auto;
  text-align: center;
  border-radius: 3%;
}

.Title {
  display: grid;
  grid-template-columns: 75px 175px 175px 175px;
  grid-template-areas:
    "A B B B"
    "A C D E";
  padding: 0;
  margin: 0;
}

.TitleScore {
  grid-area: A;
  align-self: center;
  color: #dbf2ff;
  font-size: 25px;
}

.TitleText {
  grid-area: B;
  color: #4ea5d9;
  justify-self: center;
  font-size: 23px;
  display: inline-block;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* fill with same method to have border box as the liimiting factor */
  max-width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
}

.TitleText:hover{
  overflow-x: visible;
  white-space: normal;
}

.TitleText:onClick {
  overflow-x: visible;
  white-space: normal;
}

.TitleSubreddit {
  grid-area: C;
  color: #1c6e8c;
}

.TitleUsername {
  grid-area: D;
  color: #1c6e8c;
}

.TitleTime {
  grid-area: E;
  color: #1c6e8c;
}

img {
  border-radius: 5%;
  margin: 1% auto;
}
